@model IEnumerable<RestauranteWeb.Models.ItemCardapioModel>
@{
    var totalPages = ViewBag.TotalPages as int? ?? 1;
    var currentPage = ViewBag.CurrentPage as int? ?? 1;
}
<h2><i class="fa-solid fa-burger"></i> Itens do Cardápio</h2>
<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-plus"></i> Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Detalhes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Disponivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalhes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i> Editar</a> |
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-ellipsis"></i> Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i> Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }
    </ul>
</nav>
